# MPLAB X:
build
debug
dist
firmware/*.X/*
!firmware/*.X/Makefile
!firmware/*.X/nbproject/
firmware/*.X/nbproject/*
!firmware/*.X/nbproject/configurations.xml
!firmware/*.X/nbproject/project.xml
!firmware/*.X/src/

# Python:
*.pyo
*.pyc

# Documentation:
latex

